doctype html
html#home
  head
    title= title
    link(rel='stylesheet', href=`<%=htmlWebpackPlugin.files.chunks.main.css %>`)
    link(rel='stylesheet', href="css/fa.css")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.py-4
      .container
        a.navbar-brand(href="#home")
          img(src="img/mlogo.png", width="50", height="50", alt="Logo Image")
          h3.d-inline.align-middle.ml-2 Consultax
        button.navbar-toggler(data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="#home") Home
            li.nav-item
              a.nav-link(href="#about") About
            li.nav-item
              a.nav-link(href="#consultants") Consultants
            li.nav-item
              a.nav-link(href="#contact") Contact
    block content
    script(src="js/jq.js")
    script(src="js/util.js")
    script(src="js/collapse.js")
    script(src=`<%=htmlWebpackPlugin.files.chunks.main.entry %>`) 
